<div class="container d-flex justify-content-between mt-4">
  <div class="col-8">

    <div class="bg-light rounded border shadow-sm p-3 mb-3">
      <h1><%= @flat.name %></h1>
      <p><%= @flat.address %></p>
      <%= link_to "Edit", edit_flat_path, class: "btn btn-secondary" %>
      <%= link_to "Delete", flat_path(@flat.id), class: "btn btn-dark", method: :delete, data: { confirm: 'Are you sure you want to delete this flat?' } %>
    </div>

    <div class="bg-light rounded border shadow-sm p-3 mb-3">
      <h3>A bit more about this flat...</h3>
      <p><%= @flat.description %></p>
    </div>

  </div>

  <div class="col-3">
    <div class="bg-light rounded border shadow-sm p-3 mb-3">
      <h3>Book this place!</h3>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">From:</span>
        <input type="date" class="form-control" placeholder="from" aria-label="from" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">To:</span>
        <input type="date" class="form-control" placeholder="to" aria-label="to" aria-describedby="basic-addon1">
      </div>

      <button type="submit" class="btn btn-success col-12">Book</button>
    </div>

    <div class="bg-light rounded border shadow-sm p-3 mb-3">
      <h3>Details</h3>
      <p class="mb-0"><i class="fas fa-users"></i> <%= @flat.number_of_guests %> <i class="fas fa-money-bill-alt"></i> <%= @flat.price_per_night %>.00</p>
    </div>

    <div class="bg-light rounded border shadow-sm p-3 mb-3 d-flex justify-content-between">
      <h3 class="mb-0">Share</h3>
      <h3 class="mb-0"><i class="fab fa-facebook-square"></i> <i class="fab fa-twitter-square"></i> <i class="fab fa-pinterest-square"></i> <i class="fas fa-envelope-square"></i></h3>
    </div>

  </div>

</div>
